/* line 1, ../sass/style.scss */
.block {
  margin: 50px auto;
}

/* line 5, ../sass/style.scss */
.jumbotron p {
  margin: 0;
}

/* line 9, ../sass/style.scss */
.container .jumbotron {
  padding: 25px 15px;
}

/* line 13, ../sass/style.scss */
.item {
  height: 500px;
  border: 1px solid #ddd;
}
/* line 17, ../sass/style.scss */
.item__pic {
  height: 225px;
  width: 225px;
  display: block;
  margin: 0 auto;
}
/* line 24, ../sass/style.scss */
.item__title {
  text-align: center;
  font-size: 20px;
  height: 20px;
  margin: 10px 0;
  overflow: hidden;
}
/* line 32, ../sass/style.scss */
.item__desc {
  font-size: 14px !important;
  height: 145px;
  margin: 0;
  overflow: hidden;
}
/* line 39, ../sass/style.scss */
.item:hover, .item__btn .btn:hover {
  border: 1px solid #000;
}
/* line 43, ../sass/style.scss */
.item__btn {
  text-align: center;
}
/* line 47, ../sass/style.scss */
.item__btn .btn {
  margin-top: 15px;
  min-width: 175px;
}
@media (min-width: 600px) and (max-width: 768px) {
  /* line 53, ../sass/style.scss */
  .item__desc, .item__title {
    padding: 0 15%;
  }
}
@media (max-width: 300px) {
  /* line 59, ../sass/style.scss */
  .item__title {
    font-size: 16px;
  }
  /* line 63, ../sass/style.scss */
  .item__desc {
    font-size: 10px;
    height: 200px;
  }
  /* line 68, ../sass/style.scss */
  .item__btn .btn {
    margin-top: 30px;
    min-width: 100px;
  }
  /* line 73, ../sass/style.scss */
  .item__pic {
    height: 150px;
    width: 150px;
  }
}
